<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TRMNL Preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" data-name="vs/editor/editor.main"
        href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.52.2/min/vs/editor/editor.main.min.css">
</head>

<body style="margin: 0; padding: 0;">
    <div id="vertical_split" class="flex h-screen">
        <div class="flex-1 bg-gray-100 p-1">
            <div id="container" style="height:100%;"></div>
        </div>
        <div class="flex-1 bg-gray-100 p-1">
            <div>
                <p id="render_time"></p>
                <img id="preview_img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    alt="Preview" style="width: 800px; height: 480px;">
            </div>
        </div>
    </div>
    <div id="horizontal_split" class="hidden" style="width: 800px">
        <div class="flex-1 bg-gray-100 p-1">
            <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center"
                id="preview_button_container"><button id="plugin_regenerate_button">Regenerate</button></div>
        </div>
        <div class="flex-1 bg-gray-100 p-1">
            <div>
                <p id="render_time_plugin"></p>
                <img id="preview_img_plugin"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Preview"
                    style="width: 800px; height: 480px;">
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.52.2/min/vs/loader.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            window.default_template = atob(`{{ initial_content|safe }}`);
            window.plugin_name = `{{ plugin_name|safe }}`;
            window.render_content = window.default_template;
            window.last_render_content = '';

            display_container = document.getElementById('container')
            preview_img_element = document.getElementById('preview_img')

            if (window.plugin_name !== "") {
                document.getElementById("vertical_split").classList.add("hidden");
                document.getElementById("horizontal_split").classList.remove("hidden");
                display_container = document.getElementById('preview_button_container')
                preview_img_element = document.getElementById('preview_img_plugin')
                document.getElementById('preview_button_container').addEventListener("click", (e) => {
                    window.send_timeout = setTimeout(() => {
                        renderTemplate();
                    }, 300);
                })
            }

            function renderTemplate() {
                if (window.last_render_content !== window.render_content) {
                    window.last_render_content = window.render_content;
                    if (previewSocket.readyState === WebSocket.OPEN) {
                        previewSocket.send(
                            JSON.stringify({ html: window.render_content })
                        );
                    } else {
                        console.log("Preview socket unexpectedly closed.")
                    }
                }
            }

            require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.52.2/min/vs' } });
            require(["vs/editor/editor.main"], () => {
                const editor = monaco.editor.create(document.getElementById('container'), {
                    language: 'html',
                    theme: 'vs-dark',
                    value: window.default_template,
                });

                editor.onDidChangeModelContent(() => {
                    window.render_content = editor.getValue();
                    if (window.send_timeout) {
                        clearTimeout(window.send_timeout);
                    }
                    window.send_timeout = setTimeout(() => {
                        renderTemplate();
                    }, 300);
                });

                renderTemplate();
            });

            function startSocket() {
                previewSocket = new WebSocket(
                    `ws://${window.location.host}/ws/preview`
                );

                previewSocket.onmessage = function (e) {
                    const data = JSON.parse(e.data)[0];
                    // update the iframe content
                    preview_img_element.src = data.content;
                    // update the render time
                    document.getElementById('render_time').innerText = `Render time: ${data.render_time}s`;
                    setTimeout(renderTemplate, 3000);
                }

                previewSocket.onopen = function (e) {
                    if (window.render_content) {
                        previewSocket.send(JSON.stringify({
                            html: window.render_content
                        }));
                    } else if (window.plugin_name) {
                        previewSocket.send(JSON.stringify({
                            plugin_name: window.plugin_name
                        }));
                    }
                }

                previewSocket.onclose = function (e) {
                    console.error('Socket closed unexpectedly');
                    console.error(e.toString());
                    setTimeout(function () {
                        startSocket()
                    }, 1000);
                }
            }

            startSocket();
        });
    </script>
</body>

</html>